agm-map {
    height: 100%;
   }
.box-set-location {
    align-items: center;
    background-image: linear-gradient(253deg, #3ba5b4 0, #38ba8a 100%);
    margin: 1%;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    display: flex;
    width: 90%;
    left: 50px;
    padding: 10px;
    input {
        height: 48px;
        width: 100%;
        margin: 10px;
        border: none;
        background-color: #eef5f3;
        border-radius: 15px;
        padding-left: 20px;
        font-family: 'Baloo Chettan', cursive;
        font-size: 15px;
    }
    .input-small {
        width: 50%;
    }
    button {
        height: 50px;
        width: 200px;
        border: none;
        border-radius: 30px;
        background-color: #28b498;
        font-size: 15px;
        color: #ffffff;
        font-family: 'Baloo Chettan', cursive;
        cursor: pointer;
        &:hover {
            background-color: #3cc6a5;
            transition: ease-in-out .3s;
        }
    }
}