<div class="box-info">
  <div class="form-search-location"  *ngIf="!lineSelected && !message">
      <input type="text" placeholder="Origem" />
      <input type="text" placeholder="Destino" />
      <input type="text" class="input-small" placeholder="Horário" />
      <a (click)="search($event)"><img src="../../../assets/icon/search.png"></a>
  </div>
  <div class="list-select-location" *ngIf="openList">
    <ul>
      <li class="list-header" *ngFor="let title of titleList" class="list-header">
        {{ title.name }}
      </li>
    </ul>
    <ul *ngFor="let lineBusItem of lineBusList" (click)="selectLineBus(lineBusItem)">
      <li class="list-content">{{ lineBusItem.numberLinha }}</li>
      <li class="list-content">{{ lineBusItem.source }}</li>
      <li class="list-content">{{ lineBusItem.destination }}</li>
      <li class="list-content">{{ lineBusItem.time }}</li>
      <li class="list-content">{{ lineBusItem.value }}</li>
      <li class="list-content">{{ lineBusItem.duration }}</li>
      <li class="list-content">{{ lineBusItem.licensePlate }}</li>
      <li class="list-content">{{ lineBusItem.driver }}</li>
    </ul>
  </div>
  <div class="form-show-info" *ngIf="lineSelected">
    <img src="../../../assets/icon/origin.png"><p>{{ lineBusSelected.source }}</p>
    <img src="../../../assets/icon/time.png"><p class="small">{{ lineBusSelected.time }}</p>
    <img src="../../../assets/icon/bus.png"><p class="small">{{ lineBusSelected.numberLinha }}</p>
    <img src="../../../assets/icon/plate.png"><p class="small">{{ lineBusSelected.licensePlate }}</p>   
    <img src="../../../assets/icon/destination.png"><p>{{ lineBusSelected.destination }}</p>
    <img src="../../../assets/icon/people.png"><p class="small">{{ lineBusSelected.driver }}</p>
    <img src="../../../assets/icon/money.png"><p class="small">{{ lineBusSelected.value }}</p>
    <img src="../../../assets/icon/buy.png"><p class="small">Type Adult</p>
    <button (click)="confirm()">Cofirmar</button>
    <button>Cancelar</button>
  </div>
  <div class="messages" *ngIf="message">
    <h2> Seu transporte chegará a vc em XXX minutos! </h2> <a> Cancelar </a>
  </div>
</div>
<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng">
  </agm-marker>
</agm-map>