<div class="container">
    <div class="register">
        <h1>
            Create your account into T.C.A
        </h1>
        <p>
            Sign up to T.C.A fill out the form below.
        </p>
        <input type="email" placeholder="Email" />
        <input type="text" placeholder="Name" />
        <input type="number" placeholder="Contact" />
        <input type="text" placeholder="Adress" />
        <input type="number" placeholder="Nº" />
        <input type="number" placeholder="Nº of credit card" />
        <input type="number" placeholder="security code" />
        <input type="password" placeholder="Password" />
        <button>Sign up</button>
    </div>
    <div class="login">
        <h1>
            One of us?
        </h1>
        <p>
            If you already have an account, click here to sign in.
        </p>
        <button (click)="signin()">Sign in</button>
    </div>
</div>