<div class="content">
<h2>Register</h2>
<input type="text" name="nome" placeholder="Nome: " required >
<input type="text" name="senha" placeholder="Senha: " required >
<input type="text" name="email" placeholder="E-mail: " required >
<input type="text" name="telefone" placeholder="Telefone: " required >
<input type="text" name="endereco" placeholder="Endereço: " required >
<input type="text" name="cep" placeholder="CEP: " required >
<input type="text" name="cartao-credito" placeholder="Cartão de crédito: " required >
<button (click)="signup()">Sign up</button>
</div>