<div class="container">
    <div class="login">
        <h1>
            Acesse o GoByBus
        </h1>
        <p>
            Compare os custos das viagens acessando o GoByBus.
        </p>
        <form class="login" [formGroup]="loginObj" (ngSubmit)='signin()'>
            <input formControlName='name' type="name" placeholder="Nome" />
            <input formControlName='key' type="key" placeholder="Senha" />
            <button type='submit' [disabled]='!loginObj.valid'>Acessar</button>
        </form>
    </div>
    <div class="register">
        <h1>
            Não possuí logon?
        </h1>
        <p>
            Crie uma conta e escolha a opção de viagem que melhor atenda suas necessidades.
        </p>
        <button (click)="signup()">Cadastrar</button>
    </div>
</div>